<table>
  <tr>
    <th> PM </th>
    <th> Name </th>
    <th> Change </th>
    <th> Remove </th>
  </tr>
  <tr>
    <th> <%= image_tag @pm.image_path, size: "30x30" %> </th>
    <th> Project Manager: <%= @pm.name %> </th>
    <th> <%= form_tag(:controller => 'project_managers', :action => 'update_pm') do %>
    <%= select_tag "PM", options_from_collection_for_select(@users, 'id', 'name') %>
    <%= submit_tag("Set PM", id: "set_pm") %> </th>
    <th> <%= link_to 'Remove PM', remove_pm_path(repo_name: @repo), method: :delete %> </th>
    <%= hidden_field_tag :repo_name, @repo %>
    <% end %>
  </tr>
</table>
