<div class="main">

<h1>Pahlka Posse Projects</h1>
<hr>
<br />
<div>
  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h3 class='pititle'> This is a Project Name </h3>
        <p>Some text that describes me. Some text that describes me. Some text that describes me.
          Some text that describes me. Some text that describes me. Some text that describes me.
        </p>
        <p> <%= link_to 'GitHub', 'https://github.com/Turing-Civic-Tech/pahlka_organization' %>
            <%= link_to 'Heroku', 'https://heroku.com' %>
        </p>
      </div>
    </div>
  </div>

  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h3 class='pititle'> This is a Project Name </h3>
        <p>Some text that describes me. Some text that describes me. Some text that describes me.
          Some text that describes me. Some text that describes me. Some text that describes me.
        </p>
        <p> <%= link_to 'GitHub', 'https://github.com/Turing-Civic-Tech/pahlka_organization' %>
            <%= link_to 'Heroku', 'https://heroku.com' %>
        </p>
      </div>
    </div>
  </div>

  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h3 class='pititle'> This is a Project Name </h3>
        <p>Some text that describes me. Some text that describes me. Some text that describes me.
          Some text that describes me. Some text that describes me. Some text that describes me.
        </p>
        <p> <%= link_to 'GitHub', 'https://github.com/Turing-Civic-Tech/pahlka_organization' %>
            <%= link_to 'Heroku', 'https://heroku.com' %>
        </p>
      </div>
    </div>
  </div>

  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h3 class='pititle'> This is a Project Name </h3>
        <p>Some text that describes me. Some text that describes me. Some text that describes me.
          Some text that describes me. Some text that describes me. Some text that describes me.
        </p>
        <p> <%= link_to 'GitHub', 'https://github.com/Turing-Civic-Tech/pahlka_organization' %>
            <%= link_to 'Heroku', 'https://heroku.com' %>
        </p>
      </div>
    </div>
  </div>
</div>
