<h3> Active Users This Week </h3>
<table>
  <tr>
    <th> </th>
    <th> Name </th>
    <th> Username </th>
  </tr>

  <tr>
    <% @users.each_with_index do |user, index| %>
    <tr class="user_profile user_<%= index + 1 %>">
      <% if user.image_path %>
      <th> <%= image_tag user.image_path, size: '50x50' %> </th>
      <% else %>
      <th> <%= image_tag 'BobHuggins.jpg', size: '50x50' %> </th>
      <% end %>
      <th> <%= user.name %> </th>
      <th> <%= user.username %> </th>
    </tr>
    <% end %>
  </tr>
</table>
<h3> Dashboard </h3>
<%= link_to 'Commits This Week', commits_chart_path %>
<br />
<%= link_to 'Additions/Deletions This Week', additions_chart_path %>
