<h3>test</h3>

<% @users.each_with_index do |user, index| %>
<p class="user_profile user_<%= index + 1 %>">
  Name: <%= user.name %>
  Username: <%= user.username %>
  Commits: <%= user.commits %>
  Lines_added: <%= user.lines_added %>
  Lines_deleted: <%= user.lines_deleted %>
  </p>
<% end %>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var array = <%= raw @commit_data.to_json %>
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          array
        );

        var options = {
          chart: {
            title: 'Contributions by User',
            subtitle: 'Commits, code additions, and code deletions this week.',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="barchart_material" style="width: 900px; height: 500px;"></div>
  </body>
</html>
