<!DOCTYPE html>
<html>
  <head>
    <title>PahlkaOrganization</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav>
      <a href="https://turing.io" target="_blank"><img class="turing-logo" src="/assets/turing-logo.png" alt="Turing School of Software and Design Logo"></a>

      <ul>
        <li class="nav-menu-item"><a href="" class="nav-link">ABOUT</a></li><li class="nav-menu-item">
          <a><%= link_to 'REPOSITORIES', repositories_path, class: 'nav-link' %> </a></li><li class="nav-menu-item">
          <a class="nav-link" href="">EVENTS</a></li><li class="nav-menu-item">
          <a class="nav-link" href="">JOIN</a></li>
          <% if current_user %>
          <a class ="nav-link"> <%= link_to 'HOME', user_path(current_user), class: 'nav-menu-item nav-link' %> </a>
          <% else %>
          <a class="login-link nav-menu-item nav-link">LOGIN</a>
          <% end %>
      </ul>
      <%= render partial: "layouts/login_modal" %>
    </nav>
   <% if flash[:message] -%>
    <p class="flash_message"><%= flash[:message] %></p>
   <% end -%>
   <%= yield %>
  </body>
</html>
