<!DOCTYPE html>
<html>
  <head>
    <title>PahlkaOrganization</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav>
      <a href="https://turing.io" target="_blank"><img class="turing-logo" src="/assets/turing-logo.png" alt="Turing School of Software and Design Logo"></a>

      <ul>
        <li class="nav-menu-item"><a><%= link_to 'HOME', root_path, class: 'nav-link' %></a></li>
        <li class="nav-menu-item"><a><%= link_to 'REPOSITORIES', repositories_path, class: 'nav-link' %> </a></li>
        <li class="nav-menu-item"><a><%= link_to 'CONTRIBUTORS', user_index_path, class: 'nav-link' %> </a></li>
        <li class="nav-menu-item"><a><%= link_to 'PROJECTS', projects_path, class: 'nav-link' %> </a></li>
        <% if current_user %>
        <li class="nav-menu-item"><a><%= link_to 'LOGOUT', logout_path, class: 'nav-link' %> </a></li>
        <% else %>
        <li class="nav-menu-item"><a class="login-link ">LOGIN</a></li>
        <% end %>

      </ul>
      <%= render partial: "layouts/login_modal" %>
    </nav>
   <% if flash[:message] -%>
    <p class="flash_message"><%= flash[:message] %></p>
   <% end -%>
   <%= yield %>
  </body>
</html>
